.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.content{
  font-size: 2rem;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0d0d0d;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 20px 0 #232931;
  font-size: 90px;
  color: greenyellow;
  
}

.heading{
  
  text-align: center;
  color: #f00909;
}

p {
  font-size: 2rem;
  color: greenyellow;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 35%;
  /* size: 1%; */
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
